@inherits Piranha.WebPages.SinglePage
@{  
    Layout = "~/Content/_Layout.cshtml";
    Page.Title = Model.Page.Title;

}
<div class="content">
    <div class="main">
        <h1>@Model.Page.Title</h1>
        @Model.Regions.Content
    </div>
    <div class="sidebar">
        @RenderPage("~/Shared/Sidebar.cshtml")
    </div>
</div>
